
h1,h2,h3,h4,h5 {
  font-weight: 300;
}

.text-purple {
  color: #2C2CA8 !important;
}

.super {
  font-size: 44px !important;

  @media only screen and (min-width: 600px) {
    font-size: 8vw !important;
  }
  @media only screen and (min-width: 1200px) {
    font-size: 6vw !important;
  }
  @media only screen and (min-width: 1500px) {
    font-size: 120px !important;
  }
}

h2.super {
  font-size: 31px !important;

  @media only screen and (min-width: 600px) {
    font-size: 5vw !important;
  }
  @media only screen and (min-width: 1200px) {
    font-size: 5vw !important;
  }
  @media only screen and (min-width: 1500px) {
    font-size: 80px !important;
  }

}


.uppercase {
  text-transform: uppercase !important;
}

//.super {
//  font-size: 80px;
//}


body.play-showreel {
  .header {
    background: transparent;
  }
}

.video-showreel {
  position:absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  &.show {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.sqs-block-summary-v2 {
  .summary-title a {
    font-weight: bold;
  }
  .summary-excerpt {
    p {
      font-size: 18px !important;
      font-weight: 400;

      &:first-child {
        //font-weight: bold;
      }
    }
  }
}